@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}
.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
}
.container {
  width: 750px;
  height: 510px;
  padding: 10px 20px;
  background: #fff;
  color: #212121;
  border-radius: 5px;
  box-shadow: 0 2px 5px #c0c0c0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin: 5px 0;
  font-size: 27px;
  font-weight: normal;
}
span {
  font-size: 20px;
}
div#tooltip {
  position: absolute;
  padding: 14px;
  font-size: 14px;
  background: lightsteelblue;
  width: max-content;
  box-shadow: 0 2px 4px #a8a8a8;
  border-radius: 8px;
  pointer-events: none;
}
.dot {
  stroke: #000;
  opacity: 0.8;
}