@import "https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans|Lato";

body {
    margin: 0;
    background-color: rgb(239, 51, 64);
    font-family: lato, open sans, sans-serif;
    color: white;
}
header {
    background-color: rgb(207, 45, 56);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.logo {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
}
#pew-logo {
    color: white;
    font-family: fredoka one, sans-serif;
    font-size: 30px;
    padding: 1rem;
}
nav {
    margin-right: 20px;
}
nav > ul {
    display: flex;
    margin: 0;
    font-size: 20px;
}
li {
    list-style: none;
}
a {
    color: white;
    text-decoration: none;
}
nav a {
    padding: 20px;
    transition: 0.1s;
    border-radius: 10px;
}
nav a:hover {
    transition: 0.1s;
    background-color: rgb(170, 37, 46);
}
h1 {
    margin: 140px 10px 50px 10px;
    font-weight: normal;
    text-align: center;
}
#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 100px;
    width: 100%;
}
#about > img {
    position: relative;
    max-width: 526px;
    height: auto;
    justify-self: center;
}
.desc {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex {
    background-color: rgb(228, 42, 55);
    border-radius: 2em;
    width: 500px;
    padding: 20px;
    position: relative;
    right: 20px;
}
h2 {
    margin: 0;
    font-style: italic;
    font-weight: 500;
}
#right {
    position: relative;
    right: -20px;
}
#product-demo {
    display: flex;
    justify-content: center;
    width:100%;
    background-color: whitesmoke;
}
#video-container {
    width: 800px;
    padding: 50px 10px 50px 10px;
}
.wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    width: 100%;
}
.wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#pricing {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-evenly;
}
.product {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 10px;
    padding: 20px;
    border-radius: 2em;
    background-color: rgb(228, 42, 55);
    transition: 0.1s;
}
.product:hover {
    transition: 0.1s;
    box-shadow: 0 1px 5px rgb(145, 0, 0);
}
.product-title{
    align-self: center;
    text-align: center;
    padding: 0px;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    cursor: default;
}
.product img {
    width: 100%;
    border-radius: 1rem;
}
.btn {
    padding: 10px;
    margin: 30px;
    margin-bottom: 10px;
    border-radius: 1rem;
    border: none;
    font-family: lato, sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: 0.1s;
    background-color:  #ffca28;
}
.btn:hover {
    background-color: #ffd54f;
    transition: 0.1s;
    box-shadow: 0 1px 5px rgb(70, 0, 0);
}
#newsletter {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    margin: 100px 0 100px 0;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(207, 45, 56);
}
#newsletter-desc {
    max-width: 300px;
}
#form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}
label {
    font-size: 20px;
}
#form input {
    font-size: 1rem;
    margin-top: 15px;
    border-radius: .5rem;
    font-family: lato, sans-serif;
}
#email {
    margin-top: 10px;
    max-width: 400px;
    border: none;
    width: 100%;
    padding: 20px;
}
#submit {
    padding: 12px;
    font-weight: bold;
    border: none;
    background-color: #ffca28;
    cursor: pointer;
    transition: 0.1s;
}
#submit:hover {
    transition: 0.1s;
    box-shadow: 0 1px 5px rgb(70, 0, 0);
}
footer {
    display: flex;
    flex-wrap: wrap;
    color: gray;
    padding: 10px;
    justify-content: space-between;
    background-color: rgb(39, 28, 29);
    align-items: center;
}
footer ul {
    display: flex;
    padding: 0;
    margin: 0;
}
footer ul > li {
    padding: 10px;
}
#copyright {
    padding: 10px;
    font-size: small;
    text-align: right;
}
#footer {
    display: flex;
    flex-direction: column;
}
#credits {
    padding: 10px;
}
#credits a {
    position: static;
    padding: 10px 0 10px 10px;
}

@media only screen and (max-width: 1220px) {
    #about {
        grid-template-columns: auto;
        justify-content: center;
        align-content: stretch;
        position: relative;
        top: -50px;
        margin-bottom: 0;
    }
    .flex {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 960px) {
    .logo {
        padding:10px;
    }
    nav a {
        padding: 15px;
    }
    nav ul {
        padding: 0;
    }
    #newsletter {
        flex-direction: column;
        align-items: center;
    }
    #form {
        width: 70%;
        margin-bottom: 10px;
    }
    #newsletter-desc {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
    }
    #email {
        max-width: 90%;
    }
}

@media only screen and (max-width: 680px) {
    #header-img {
        width: 30px;
    }
    #pew-logo {
        padding: 0;
        padding-left: 10px;
        font-size: 17px;
    }
    nav ul, li {
        padding: 0;
        margin: 0;
    }
    nav li {
        display: flex;
    }
    nav a {
        margin: 0;
        padding: 0;
        padding-left: 10px;
        font-size: 13px;
    }
    nav a:hover {
        background-color: transparent;
    }
    h1 {
        margin: 110px 10px 50px 10px;
    }
    #about > img {
        max-width: 75%;
        margin: 50px 0 50px 0;
    }
    .flex {
        right: 0;
        width: 80%;
        align-self: center;
    }
    #right {
        right: 0;
    }
    #form {
        width: 90%;
    }
    footer {
        flex-direction: column;
        justify-content: center;
    }
    #footer {
        margin-top: 8px;
        align-items: center;
    }
}
@media only screen and (max-width:420px) {
    .flex {
        max-width: 75%;
    }
    #credits {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #credits span {
        margin-bottom: 10px;
    }
    #credits a {
        padding: 10px 0 10px 0;
    }
}