:root {
    --primary: #3f51b5;
    --secondary: #e3f2fd;
    --shadow: #263238;
}
body {
    margin: 0;
    background-color: white;
    font-family: roboto slab, sans-serif;
}
main {
    box-shadow: 0px 1px 5px gray;
    border-radius: 20px;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "header img"
                         "content content"
                         "footer footer";
}
#header {
    color: white;
    grid-area: header;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    padding: 50px 30px 50px 30px;
    background-color: var(--primary);
    border-top-left-radius: 20px;
}
h1 {
    font-size: 400%;
    text-align: center;
}
blockquote {
    display: inline-block;
    position: relative;
    font-size: 20px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
#open-quote {
    display: inline-block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    top: -.5em; left: -.5em;
    padding-left: 1rem;
}
#close-quote {
    display: inline-block;
    content: "\201D";
    font-size: 80px;
    position: absolute;
    bottom: -.5em; right: -.5em;
    padding-right: 1rem;
}


#img-div {
    font-size: 0;
    grid-area: img;
    width: 250px;
    height: auto;
}
#image {
    border-top-right-radius: 20px;
}
#img-caption {
    font-family: roboto;
    padding: 10px;
    padding-left: 10px;
    font-size: 13px;
    text-align: left;
    color: white;
    background-color: #424242;
}
#separator {
    display: none;
}

article {
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding: 50px;
    grid-area: content;
}
h2#heading {
    text-align: center;
    font-family: roboto, sans-serif;
    font-weight: bold;
}
hr {
    border: 1px solid #bbdefb;
    width: 50vmin;
}

.h3 {
    width: auto;
    margin: auto;
    display: block;
    padding: 10px;
    font-size: 20px;
    background-color: #bbdefb;
    border-radius: 10px;
    color: var(--shadow);
    text-align: center;
    font-weight: bold;
}
.p {
    position: relative;
    background-color: var(--secondary);
    padding: 30px;
    font-family: open sans, sans-serif;
    border: solid 2px #bbdefb;
}
.timeline {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr auto auto 1fr;
}
.p.l {
    grid-column: 1/2;
    top: -65px;
    border-radius: 20px 5px 20px 5px;
    justify-self: end;
    align-self: start;
}
.p.r {
    align-self: end;
}
.h3.l {
    grid-column: 2/3;
}
.h3.r {
    grid-column: 3/4;
}
.p.r {
    grid-column: 4/5;
    border-radius: 5px 20px 5px 20px;
    justify-self: left;
}


p#footer {
    margin-top: 70px;
    margin-bottom:50px;
    text-align: center;
    grid-area: footer;
    font-family: roboto, sans-serif;
    font-weight:700;
    font-size: 20px;
}




/* for tablets */

@media only screen and (max-width: 1080px) {
    main {
        margin: 0px;
        border-radius: 0;
        box-shadow: none;
    }
    #header {
        border-radius: 0;
        padding-right: 30px;
    }
    h1 {
        font-size: 300%;
    }
    #close-quote {
        bottom: -.5em;
    }
    #img-div {
        border-radius: 0;
    }
    #image {
        border-radius: 0;
    }
    #article {
        border-radius: none;
    }
    .timeline {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
    }
    .timeline > div {margin:10px}

    .p {
        width: 65vw;
    }
    .h3 {margin:10px; flex-grow: 1;}

    .p.l, .h3.l{justify-self: flex-start;}
    .p.r, .h3.r{justify-self: flex-end;}

    .p.l.one {order:1}
    .h3.l.one {order:2}
    .h3.r.one {order:3}
    .p.r.one {order:4}

    .p.l.two {order:5}
    .h3.l.two {order:6}
    .h3.r.two {order:7}
    .p.r.two {order:8}
    
    .p.l.three {order:9}
    .h3.l.three {order:10}
    .h3.r.three {order:11}
    .p.r.three {order:12}
    
    .p.l.four {order:13}
    .h3.l.four {order:14}
    .h3.r.four {order:15}
    .p.r.four {order:16}
    
    .p.l.five {order:17}
    .h3.l.five {order:18}
    .h3.r.five {order:19}
    .p.r.five {order:20}

    /* reset */
    .p.l {top:0;}
}




/* for mobile */

@media only screen and (max-width: 720px) {
    main {
        box-shadow: none;
        margin: 0;
        border-radius: 0;
        display: inline-block;
    }
    #header {
        border-radius: 0;
        padding: 30px 0px 100px 0;
    }
    h1 {
        font-size: 10vw;
    }
    #close-quote {
        bottom: -.9em;
    }
    #img-div {
        margin: auto;
        margin-top: -460px;
        margin-bottom: 80px;
        border-radius: 20px 5px 20px 5px;
        box-shadow: 0 0px 50px -10px var(--shadow);
        z-index: 3;
    }
    #image {
        border-radius: 20px 5px 0 0;
        z-index: 3;
    }
    #img-caption {
        border-radius: 0 0 20px 5px;
        /* color: black;
        background-color: whitesmoke; */
    }
    #separator {
        display: block;
        width: 100%;
        height:400px;
        background-color: var(--secondary);
    }
    article {
        border-radius: none;
        padding: 10px;
    }
    #footer{padding-bottom: 55px;}
}

/* flexbox mobile */

@media only screen and (max-width: 860px) {
    .timeline {
        display: block;
        text-align: center;
    }
    .h3 {
        width: 60px;
        position: relative;
        z-index: 1;
    }
    .p.l, .p.r {
        margin:auto;
        width: 70vw;
        position: relative;
        top: -30px;
        border-radius: 10px;
    }
    .h3.r.four > span {
        display: none;
    }
    .h3.r.four {width: 120px;}
    .h3.r.four::after {
        content:"1993 - 2002";
    }
}