:root {
    --primary-light: #b39ddb;
    --primary: #673ab7;
    --primary-med: #512da8;
    --primary-dark: #311b92;
    --secondary: #ffc107;
    --light: #ffecb3;
    --shadow: #263238;
    --border: #9e9e9e;
}
body{
    font-family: signika, open sans, sans-serif;
    font-weight: 100;
    font-size: larger;
    line-height: 1.5;
    color: white;
    background-color: var(--primary-med);
    margin: 20px;
}

/* .container {
} */

h1 {
    position: absolute;
    right: 0;
    left: 0;
    top: 25px;
    font-family: roboto slab;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    padding: 20px 0 20px 0;
    width: 400px;
    margin: auto;
    border-radius: 50px;
    color: white;
    background-color: var(--primary);
    /* box-shadow: 0 2px 2px var(--shadow); */
}
p#description {
    font-family: open sans;
    font-size: 17px;
    font-style: italic;
    text-align: center;
    position: relative;
    top: 100px;
    width:500px;
    margin: auto;
}
form {
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 50px;
    padding-top: 150px;
    width: 700px;
    border-radius: 20px;
    border: 3px dashed var(--secondary);
    background-color: var(--primary-dark);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.form-control, .input-textarea {
    font-family: open sans, sans-serif;
    font-size: 1rem;
    padding: 1em;
    border: 3px solid var(--secondary);
    border-radius: 5px;
    background-color: #fff8e1;
}
.clue {
    position: relative;
    font-size: .9rem;
    margin-left: 0.25rem;
    bottom: 0.05rem;
}
input#number {
    max-width: 150px;
}
#number-label {
    margin-top: 15px;
}
#name, #email, #number {
    margin-top: 15px;
    margin-bottom: 15px;
}
.glass {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "b a"
                         "b c";
}
p#glass {
    grid-area: a;
}
img#glass-image{
    grid-area: b;
    max-width: 80px;
    margin-right: 30px;
    align-self: end;
    justify-self: end;
}
.glass-radio {
    grid-area: c;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.philosophies {
    display: grid;
    /* grid-auto-flow: column;
    grid-template-rows: repeat(6, auto); */
    grid-template-columns: 1fr 1fr;
}
.philosophies p {
    grid-column: span 2;
}
.input-textarea {
    min-height: 140px;
    resize: vertical;
}
.span-two {
    grid-column: span 2;
}
.submit-button {
    padding:10px;
    max-width: 100px;
    margin: auto;
    margin-top: 25px;
    background-color: var(--secondary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: roboto slab, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

/* for tablets */

@media only screen and (max-width: 860px) {
    body {
        margin: 10;
        background-color: var(--primary-med);
    }
    h1 {
        box-sizing: border-box;
        border-radius: 0;
        position: relative;
        top: 0;
        width: 100%;
        padding: 35px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .container{
        border-radius: 20px;
        outline:  3px dashed var(--secondary);
    }
    p#description {
        box-sizing: border-box;
        position: relative;
        top: 0;
        margin: 0 auto;
        width: 100%;
        max-width: 500px;
        padding: 30px;
    }
    form {
        box-sizing: border-box;
        border-radius: 0;
        border: none;
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 50px;
        z-index: -1;
    }
    #name, #email, #number {
        margin-bottom: 0;
    }
    img#glass-image {
        margin-right: 10px;
    }
}

/* for mobile */

@media only screen and (max-width: 730px) {
    body {
        margin: 0;
        background-color: var(--primary-med);
    }
    form {
        grid-template-columns: 1fr;
        padding: 30px;
    }
    #email-label {
        margin-top: 15px;
    }
    img#glass-image {
        margin-left: 20px;
        margin-right: 30px;
    }
    .span-two {
        grid-column: span 1;
    }
}