* {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #cfd8dc;
border-radius: 10px;
}
::-webkit-scrollbar-thumb {
background: #90a4ae; 
border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
background: #b0bec5; 
}
body {
    background: #212121;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    div#app {
        min-height: 100vh;
        padding: 10px;
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
            height: calc(100vh - 20px);
            
            .editor {
                width: 100%;
                
                div#titlebar {
                    font-size: 15px;
                    border-radius: 10px 10px 0 0;
                    padding: 10px;
                    background: #616161;
                    color: white;
                }
                textarea#editor {
                    border-radius: 0 0 10px 10px;
                    background: #424242;
                    color: white;
                    overflow: auto;
                    padding: 20px;
                    width: 100%;
                    height: calc(100% - 37.6px);
                    border: none;
                    resize: none;
                }
                ::-webkit-scrollbar-track {
                    background: #9e9e9e;
                border-radius: 10px;
                }
                ::-webkit-scrollbar-thumb {
                background: #616161; 
                border-radius: 10px;
                }
                ::-webkit-scrollbar-thumb:hover {
                background: #757575; 
                }
            }
            div#preview {
                border-radius: 10px;
                background: #eceff1;
                padding: 20px;
                height: 100%;
                width: 50vw;
                overflow: auto;
                word-wrap: break-word;  
            }
        }
    }
    code {
        padding: 1px;
        color: white;
        background: #546e7a;
    }
    pre {
        border-radius: 5px;
        color: white;
        background: #546e7a;
        padding: 10px;
    }
    blockquote {
        color: #263238;
        padding-left: 7px;
        border-left: 3px solid #263238;
    }
}

@media only screen and (max-width: 1023px) {
    body {
        div#app {
            .container {
                display: flex;
                flex-direction: column;
                
                .editor {
                    height: 50vh;
                }

                div#preview {
                    width: 100%;
                }
            }
        }
    }
}